# Django #
*.log
*.pot
*.pyc
*.mo
*.zip
__pycache__
db.sqlite3
media
secret_key.txt
env
.env
staticfiles
staticfiles/*
test
test/*
# Python # 
*.py[cod] 
*$py.class 
*.swp
/static/django_js_reverse/*
/cron_logs/druo/*
# excel #
*.ods#
#vscode #
.vscode/*
# md #
.copilot-instructions.md
copilot-rules.md
# Copilot #
.copilot-rules.md